html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Beastly';
  src:  url('../public/font/Beastly-18Point.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Hoves';
  src:  url('../public/font/TTHoves-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'TTHoves-Regular';
  src:  url('../public/font/TTHoves-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'TTHoves-Bold';
  src:  url('../public/font/TTHoves-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'TTHoves-Light';
  src:  url('../public/font/TTHoves-Light.woff2') format('woff2');
}

.graph {
  width: 100%;
  margin: -7px 0;
}