.container {
    display: block;
    background: #E5E5E5;
}

.title {
    font-family: Beastly;
    font-size: 330px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: left;
    color: #520091;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: TT Hoves;
    font-size: 25px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #E5E5E5;
    background-color: #520091;
    height: 60px;
    border-radius: 4px;
    margin-top: 64px;
}

.image {
    width: 80%;
}

.btVariation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #520091;
    height: 45px;
    width: 173px;
    left: 70px;
    top: 1120px;
    border-radius: 5px;
    color: #FFF;
    text-transform: uppercase;
    font-family: TT Hoves;
    font-size: 25px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}

@media (min-width: 800px) {
    .container {
        padding: 70px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}